@media (min-width: 1500px) {
}

@media (max-width: 1200px) {
  .single-plan ul {
    min-height: 640px;
  }
}

@media (max-width: 1024px) {
  /* hero items */
  .hero_items {
    grid-template-columns: repeat(3, minmax(249px, 1fr));
  }
  .single-plan ul {
    min-height: auto;
  }
  .login-frame-image .right-notsh {
    position: absolute;
    bottom: 0;
    right: -150px;
  }
  .login-frame-image .right-notsh img {
  }
  .login-frame-image .left-notsh {
    position: absolute;
    bottom: 0;
    left: -150px;
  }
}

@media (max-width: 991px) {
  /* Start Nav */

  .nav-menu {
    display: none;
  }

  .head-inner .logo a {
    min-width: 75px;
    max-width: 75px;
  }

  .menu-right .link-h,
  .menu-right .btn {
    display: none;
  }

  .item.res-menu {
    display: block;
  }

  .sidebar-btns {
    display: flex;
    gap: 22px;
  }

  .sidebar-btns .link-h {
    font-size: 16px;
  }

  .sidebar-btns .btn {
    min-width: 120px;
    font-size: 16px;
  }

  /* hero items */
  .hero_items {
    grid-template-columns: repeat(2, minmax(249px, 1fr));
  }

  .hero .float_btn {
    right: 0;
    top: 150px;
  }

  .centerd::before {
    top: -91px;
    width: 226px;
    height: 226px;
  }
  .centerd img {
    margin: 2px 2px 2px 19px;
    width: 45px;
    height: 45px;
  }

  .partners_sect .partners {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(224px, 1fr));
  }

  .newsletter form .form-wrap {
    margin-top: 28px;
  }

  .login-frame-image .right-notsh img {
    display: none;
  }
  .login-frame-image .left-notsh img {
    display: none;
  }
  .service-box {
    padding: 60px 25px 60px;
  }
  .service-container {
    padding: 40px;
  }
  
  .designs-box .nav-tabs {
    display: block;
  }
  .designs-box .nav-tabs .nav-item {
    width: 100%;
  }
  .designs-box .nav-pills {
    flex-wrap: nowrap;
    overflow: auto;
    padding: 16px 16px 0;
  }
  .designs-box .nav-pills button{
    white-space: nowrap;
  }
  .designs-box .nav-tabs {
    padding: 16px;
    padding-bottom: 0;
  }
  .designs-box .nav-pills::-webkit-scrollbar {
    display: none;
  }
  .designs-box{
    padding: 60px 0;
  }
  .feature-notsh{
    display: none;
  }
  
.plat_experts {
   margin-bottom: 0px;
}
.single-features-row{
  margin-bottom: 80px;
}
.professional-wrapper {
  display: inline-table;
  align-items: center;
  justify-content: center;  
  gap: 20px;  
}

}

@media (max-width: 768px) {
  .chose_consult_bot,
  .plat_provide_wrap {
    margin-bottom: 24px;
  }
}

@media (max-width: 767px) {
  .centerd::before {
    top: -91px;
    width: 190px;
    height: 190px;
  }
  .centerd img {
    margin: -10px 2px 2px 43px;
    width: 35px;
    height: 35px;
  }

  .invest .float_btn {
    left: 25px;
  }
  .login-frame-image .right-notsh img {
    display: none;
  }
  .login-frame-image .left-notsh img {
    display: none;
  }
  .hero {
    position: relative;
    padding: 60px 0px 50px;
   }

  .service-container {
    padding: 25px;
  }
  .support-box {
    padding: 60px;
  }
  .support-mail {
    justify-content: center;
  }
  .plat_experts{
    padding-top: 0px;
  }
  .designs-box{
    margin-top: 0;
    padding: 60px 0px;
  }
  .designs-box .new-head h1{
    font-size: 24px;
    padding: 0px 10px;
    line-height: 35px;
  } 
  .single-plan{
    margin-top: 25px;
  }
  .services{
    padding-top: 0  ;
  }
  .support-section{
    padding-top: 0px;
  }
  footer{
    padding-top: 20px;
  }
  .media-center{
    padding: 40px 0;
  }
  .media-center .section_heading{
    margin-bottom: 30px;
  }
  .feature_02_frame{
    left: 0;
  }
  .partners_sect{
    padding-top: 0;
  }
  .tab-content p{
    max-width: 100%;
  }
  .logos-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }
  .faqs{
    margin-top: 0px;
  }
  .feature_02_frame{
    top: -40px;
  }
  .features-section {
    margin-top: 50px;
  }
  .plat_experts{
    margin-top: 60px;
  }
  .section_heading h2{
    line-height: normal;
  }
}

@media (max-width: 600px) {
  .container {
    max-width: 100%;
  }
}

@media (max-width: 576px) {
  .centerd::before {
    content: none;
  }
  .centerd img {
    display: none;
  }

  .way_item {
    margin-bottom: 31px;
  }

  .consulting_ways .heading h2 {
    font-size: 40px;
  }
  .plat_provide_wrap .g-1-3 {
    width: 100%;
  }
  .plat_provide_wrap .g-2-3 {
    width: 100%;
  }

  .plat_provide_wrap .g-1-4 {
    width: 100%;
  }
  .plat_provide_wrap .g-3-4 {
    width: 100%;
  }
  .grid-frame {
    gap: 40px;
  }
  .plat_experts_txt p {
    margin: auto;
  }
}

@media (max-width: 480px) {
  .hero_btns_wrap {
    /* display: grid; */
    grid-gap: 20px;
  }

  .hero_wrap h1 {
    font-size: 32px;
  }
  .hero_wrap .tag{
    margin-bottom: 20px;
  }

  /* hero items */
  .hero_items {
    grid-template-columns: repeat(1, minmax(249px, 1fr));
  }

  .newsletter form .form-wrap {
    display: grid;
    gap: 4px;
    margin-bottom: 8px;
  }

  .testmonials .float_btn {
    right: 0;
  }
  .logos-grid {
    grid-template-columns: 1fr; 
  }

}

@media (max-width: 390px) {
  .hero_items {
    grid-template-columns: repeat(auto-fit, minmax(285px, 1fr));
  }

  .hero_items_heading {
    display: grid;
    justify-content: center;
    gap: 17px;
    text-align: center;
  }

  .hero_items_heading img {
    margin: auto;
  }
}

@media (max-width: 360px) {
  .hero_items {
    grid-template-columns: repeat(auto-fit, minmax(224px, 1fr));
  }
}

/* Footer Responsive Styles */
@media (max-width: 991px) {
  .footer-logo {
    text-align: center;
    padding-right: 0;
    margin-bottom: 30px;
  }
  
  .footer-links {
    padding-left: 0;
    text-align: center;
  }
  
  .footer-nav {
    justify-content: center;
  }
  
  .footer-bottom {
    flex-direction: column;
    gap: 15px;
    text-align: center;
    justify-content: center;
  }
}

/* Floating Logo Responsive */
@media (max-width: 1400px) {
  .floating-logo {
    max-width: 150px;
  }
}

@media (max-width: 1200px) {
  .floating-logo {
    max-width: 120px;
  }
}

@media (max-width: 991px) {
  .floating-logo-wrapper {
    position: static;
    transform: none;
    right: auto;
    top: auto;
    width: auto;
    height: auto;
    display: block;
    text-align: center;
    margin: 20px 0;
    pointer-events: auto;
  }
  
  .floating-logo {
    max-width: 150px;
    margin: 0 auto;
    display: block;
  }
}